extends _layouts/layout

block content
    section.donghochild
        .container
            .wrp
                ul
                    li
                        p Trang Chủ
                    li
                        p 
                            i.fa.fa-angle-double-right
                    li
                        p Dồng Hồ Thụy Sỹ
                    li
                        p 
                            i.fa.fa-angle-double-right
            .content
                .col-left
                    .filter
                        .filter__left
                            .tittle Thương Hiệu
                            .filter__list
                                ul
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                        .filter__left
                            .tittle Thương Hiệu
                            .filter__list
                                ul
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                        .filter__left
                            .tittle Thương Hiệu
                            .filter__list
                                ul
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                                    li
                                        a(href="#")
                                            i.fa.fa-square
                                            | Đồng hồ abc xyz
                .col-right
                    .right__title
                        h4.tittle.fleft
                            a(href="") Đồng hồ Thụy sỹ 
                        select.fiter.fright
                            option Sắp xếp theo
                            option Giá: từ cao xuống thấp
                            option Giá: từ thấp đến cao
                        .clear-fix
                    .right__banner
                        .banner_daugia
                            img(src="images/list-img.jpg", alt="")
                    .right_row
                        .item
                            .item_item    
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam3.jpg','Đồng hồ Epos ', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam2.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .clear-fix
                        .item
                            .item_item    
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam3.jpg','Đồng hồ Epos ', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam2.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .clear-fix
                        .item
                            .item_item    
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam3.jpg','Đồng hồ Epos ', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam2.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .clear-fix
                        .item
                            .item_item    
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam3.jpg','Đồng hồ Epos ', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam2.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .clear-fix
                        .item
                            .item_item    
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam3.jpg','Đồng hồ Epos ', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam2.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .clear-fix
                        .item
                            .item_item    
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam3.jpg','Đồng hồ Epos ', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam2.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item_item    
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .clear-fix
                    .right__list
                        p
                            a(href="") 1
                        p
                            a(href="") 2
                        p
                            a(href="") 3
                        p
                            a(href="") 
                                img(src="images/next.gif", alt="")
                        p
                            a(href="")
                                img(src="images/last.gif", alt="")
                .clear-fix