extends _layouts/layout

block content
    section.home
        .banner
            img(src="images/banner.jpg", alt="")
        .container
            .slideafterBanner
                .banner__img
                    .banner__img__img
                        img(src="images/bannerafter1.jpg", alt="")
                .banner__img
                    .banner__img__img
                        img(src="images/bannerafter2.jpg", alt="")
                .banner__img
                    .banner__img__img
                        img(src="images/bannerafter3.jpg", alt="")
                .banner__img
                    .banner__img__img
                        img(src="images/bannerafter4.jpg", alt="")
                .clear-fix
        .watch
            .container
                .row
                    .slider__auto
                        h4.tittle 
                            a(href="") SẢN PHẨM NỔI BẬT
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15 ', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ EPOS SWISS
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15fasdfasdfasdfasdfasdf', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ ATLANTIC SWISS
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ BRUNO SOHNLE GLASHUTTE
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ DIAMOND D
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ STUHRLING TOURBILLON
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ ARIES GOLD
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") STUHRLING ORIGINAL SWISS
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ JACQUES LEMANS
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ TOURBILLON MEMORIGIN
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ JACQUES DU MANOIR
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ CITIZEN
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                    .slider
                        h4.tittle 
                            a(href="") ĐỒNG HỒ QQ
                        .owl-carousel.owl-theme
                            .item
                                +product('images/donghonam2.jpg','Đồng hồ Dinamo', '4.000.000 đ' )
                            .item
                                +product('images/donghonam1.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam5.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam6.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam3.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )
                            .item
                                +product('images/donghonam4.jpg','Đồng hồ Epos 8000.700.22.65.15', '4.000.000 đ' )